<div fxLayout="column" fxLayoutAlign="space-evenly center" class="outer">
    <div fxLayout="row" class="fundoo">
        <h1 style="color: #4285F4;">F</h1>
        <h1 style="color: #EA4335;">u</h1>
        <h1 style="color: #FBBC04;">n</h1>
        <h1 style="color: #4285F4;">d</h1>
        <h1 style="color: #34A853;">o</h1>
        <h1 style="color: #EA4335;">o</h1>
    </div>
    <div>
        <h1>Reset Password</h1>
    </div>
    <div>
        <h3>Use your Fundoo Account</h3>
    </div>

    <div fxLayout="column" fxLayoutAlign="center" fxFill>
        <form #resetPass="ngForm" (ngSubmit)="onClickSubmit(resetPass.value)">
            <div>
                <mat-form-field appearance="outline" class="name" fxFill>
                    <mat-label>New Password</mat-label>
                    <input matInput placeholder="New Password" type="password" name="password" ngModel>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field appearance="outline" class="name" fxFlex>
                    <mat-label>Confirm Password</mat-label>
                    <input matInput type="password" placeholder="Confirm Password" name="confirmPass" ngModel>
                </mat-form-field>
            </div>
            <div>
                <section class="example-section">
                    <mat-checkbox class="example-margin" id="pass">Show Password</mat-checkbox>
                </section>
            </div>
            <div>
                <div class="example-button-row" class="butn">
                    <button mat-flat-button color="primary" style="float: right;" type="submit" value="submit">Change
                        Password</button>
                </div>
            </div>
        </form>
    </div>
</div>