<div fxLayout="row" fxLayoutAlign="start center" class="icons">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <img src="../../../assets/images/add_alert-black-18dp.svg">
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <img src="../../../assets/images/person_add_alt-24px.svg">
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <img src="../../../assets/images/color_lens-24px.svg">
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <img src="../../../assets/images/insert_photo-24px.svg">
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon"
  (click)="getId('archive')">
    <img src="../../../assets/images/archive-24px.svg">
  </button>
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <img src="../../../assets/images/more_vert-24px.svg">
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="getId('trash')">
      <span>Trash</span>
    </button>
    <button mat-menu-item>
      <span>Delete Forever (click)="getId('delete')"</span>
    </button>
    <button mat-menu-item>
      <span>Show checkboxes</span>
    </button>
  </mat-menu>
</div>