<div>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>add_alert</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>person_add_alt</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>palette</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>insert_photo</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" (click)="openSnackBar('Note archived','Undo')">
        <mat-icon>archive</mat-icon>
    </button>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <span>Add label</span>
        </button>
        <button mat-menu-item>
          <span>Add drawing</span>
        </button>
        <button mat-menu-item>
          <span>Show checkboxes</span>
        </button>
      </mat-menu>
    <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>undo</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>redo</mat-icon>
    </button> -->
</div>