@media screen and (max-width:850px){
    body{
        margin-left: 60px;
        margin-top: 20px;   
    }
}

.outer{
    border: 1px solid rgb(218, 218, 218);
    border-radius: 8px;
    width: 770px;
    height: 600px;
    padding: 48px 40px 40px 40px;
    margin: auto;
    margin-top: 30px;
}

@media screen and (max-width:850px){
    .outer{
        padding:0px;
        border: none;
        width: 100%;
        height: 100%;
        margin: auto;
    }
}

.logo{
    width: 75px;
    height: 24px;
    margin:0px;
}

.name{
    width: 49%;
}

@media screen and (max-width:850px){
    .name{
        width: 100%;
    }
    .uName{
        width: 100%;
    }
}

.img-div{
    width: 170px;
    padding-left: 40px;
    padding-right: 40px;
    height: auto;
}

@media screen and (max-width:850px){
    .img-div{
        visibility: hidden;
    }
}

.figCap{
    width: 244px;
    margin-left:-10px;
    font-size: 16px;
    text-align: center;
}

.labels{
    margin-top: -18px;
    margin-left: 10px;
}

.butn{
    margin-top: 40px;
}

.btn{
    margin-top: 10px;
    margin-bottom: 25px;
}

#pass{
    margin-top: 5px;
}