<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">

  <mat-toolbar class="example-toolbar" style="background-color: white;">

    <div fxFlex=20 fxLayoutAlign="start center" style="margin-right:20px">
      <button mat-icon-button (click)="snav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <img src="../../../assets/images/keep_2020q4_48dp.png" class="keepLogo">
      <div fxLayout="row">
        <h1 style="color: #4285F4;">F</h1>
        <h1 style="color: #EA4335;">u</h1>
        <h1 style="color: #FBBC04;">n</h1>
        <h1 style="color: #4285F4;">d</h1>
        <h1 style="color: #34A853;">o</h1>
        <h1 style="color: #EA4335;">o</h1>
      </div>
      <!-- <span class="example-spacer"></span> -->
    </div>

    <div fxFlexLayout="row" fxLayoutAlign="start" fxFlex=100 fxFlex.xs=10>
      <div fxFlex=65 class="searchDiv">
        <mat-form-field appearance="fill" class="search">
          <img src="../../../assets/images/search-black-18dp.svg">
          <input matInput class="inSearch">
        </mat-form-field>
      </div>

      <div fxFlex fxFlexLayout="row" fxLayoutAlign="end center">
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
          <mat-icon routerLink="notes">refresh</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
          <mat-icon>view_stream</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
          <mat-icon>settings</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
          <mat-icon>apps</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
          <mat-icon>account_circle</mat-icon>
        </button>
      </div>
    </div>
  </mat-toolbar>

  <mat-divider></mat-divider>

  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56">
      <mat-nav-list style="width:200px;" class="sideNav">
        <a mat-list-item routerLink='notes'>
          <mat-icon class="icon">lightbulb</mat-icon> Notes
        </a>
        <a mat-list-item routerLink="reminders">
          <mat-icon class="icon">notifications_none</mat-icon> Reminders
        </a>
        <a mat-list-item routerLink="labels">
          <mat-icon class="icon">create</mat-icon>Edit Labels
        </a>
        <a mat-list-item routerLink="archive">
          <mat-icon class="icon">archive</mat-icon>Archive
        </a>
        <a mat-list-item routerLink="trash">
          <mat-icon class="icon">delete_outline</mat-icon>Trash
        </a>

      </mat-nav-list>
    </mat-sidenav>

    <router-outlet></router-outlet>
  </mat-sidenav-container>
</div>