.example-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.example-is-mobile .example-toolbar {
    position: fixed;
    z-index: 2;
}

h1.example-app-name {
    margin-left: 8px;
}

.example-sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;
}

.example-is-mobile .example-sidenav-container {
    /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
       `<body>` to be our scrolling element for mobile layouts. */
    flex: 1 0 auto;
}

.icon {
    margin-right: 20px;
    margin-left: 10px;
}

.keepLogo {
    height: 40px;
    width: 40px;
}

.search {
    width: 100%;
    font-size: 15px;
    border-top: 0px;
}

.sDiv {
    padding: 0px;
    padding-top: 20px;
}
.inSearch {
    width: 100%;
}

::ng-deep .mat-form-field-underline {
    display: none;
}

:host ::ng-deep .mat-form-field-wrapper {
    padding-bottom: 1em;
}

.sideNav {
    color: #4a4a4a;
}

.sideNav :hover {
    color: #4a4a4a;
    border-radius: 0px 30px 30px 0px;
}

.sideNav :focus {
    color: #4a4a4a;
    background-color: #feefc3;
    border-radius: 0px 30px 30px 0px;
}

.mat-form-field {
    padding-top: 10px; 
}

@media screen and (max-width: 800px) {
    .searchDiv {
        width: 80%;
        font-size: 15px;
    }
}

@media screen and (max-width: 600px) {
    .name {
        visibility: hidden;
    }
}

::ng-deep.mat-menu-content {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

.mat-drawer-container {
    background-color: #ffffff;
}

.mat-drawer-side {
    border-right: none;
}

.active-list-item {
    background-color: #feefc3;
    color: #4a4a4a;
    border-radius: 0px 30px 30px 0px;
}
