mat-card {
  width: 230px;
  margin: 10px;
  padding-bottom: 0px;
  max-height: 400px;
  overflow-y: hidden;
}

mat-card:hover .icon{
  visibility: visible;
}

.icon {
  visibility: hidden;
}

.title {
  letter-spacing: .00625em;
  font-family: 'Google Sans',Roboto,Arial,sans-serif;
  font-size: 1rem;
  font-weight: 500;
}

ngx-masonry{
  margin: auto;
  width: 86%;
}