<div fxFlex="grow" fxLayout="row wrap" fxLayoutAlign="space-around start">
    <mat-card *ngFor="let card of notesArray, let i = index">
        <div (click)="openDialog(card)" >
            <div>
                <div>
                    {{card.title}}
                </div>
                <div>
                    {{card.description}}
                </div>
            </div>
        </div>
        <div class="icon" >
            <app-icon (click)="cardData(card)"></app-icon>
        </div>
    </mat-card>
</div>