<mat-card fxLayout="column" class="display">
    <div>
        <div>
            <div fxLayoutAlign="space-evenly start" class="search" *ngIf="isShown">
                <input matInput placeholder="Title" [(ngModel)]="title" autocomplete="off">
            </div>
        </div>
        <div fxLayout="row">
            <div fxFlex=75 class="search">
                <input matInput placeholder="Take a note..." autocomplete="off" [(ngModel)]="description"
                    (click)="toggleShow()">
            </div>
            <div fxLayout="row" *ngIf="!isShown">
                <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
                    <mat-icon>library_add_check</mat-icon>
                </button>
                <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
                    <mat-icon>brush</mat-icon>
                </button>
                <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
                    <mat-icon>insert_photo</mat-icon>
                </button>
            </div>
        </div>
    </div>

    <div fxLayout="row" fxLayout.xs="column" *ngIf="isShown">
        <div fxLayoutAlign="start start" fxFlex=90>
            <app-icon></app-icon>
        </div>
        <div fxLayoutAlign="end start">
            <button mat-button color="primary" (click)="nextStep();addNote()">Close</button>
        </div>
    </div>
</mat-card>