<mat-card fxLayout="column" class="display" [ngStyle]="myColor()">
    <div>
        <div *ngIf="isShown" fxLayout="row">
            <div fxLayoutAlign="space-evenly start" fxFlex=90 class="search">
                <input matInput placeholder="Title" [(ngModel)]="title" autocomplete="off">
            </div>
            <div fxLayoutAlign="center">
                <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
                    <img src="../../../assets/images/push_pin-24px.svg">
                </button>
            </div>
        </div>
        <div fxLayout="row">
            <div fxFlex=75 class="search">
                <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="auto"
                cdkAutosizeMaxRows="22" cdkAutosizeMaxColumns="auto" placeholder="Take a note..." autocomplete="off" [(ngModel)]="description"
                    (click)="toggleShow()"></textarea>
            </div>
            <div fxLayout="row" *ngIf="!isShown">
                <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
                    <mat-icon>library_add_check</mat-icon>
                </button>
                <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
                    <mat-icon>brush</mat-icon>
                </button>
                <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
                    <mat-icon>insert_photo</mat-icon>
                </button>
            </div>
        </div>
    </div>

    <div fxLayout="row" fxLayout.xs="column" *ngIf="isShown">
        <div fxLayoutAlign="start start" fxFlex=90>
            <app-icon></app-icon>
        </div>
        <div fxLayoutAlign="end start">
            <button mat-button color="primary" (click)="nextStep();addNote()">Close</button>
        </div>
    </div>
</mat-card>