.outer{
    border: 1px solid rgb(218, 218, 218);
    border-radius: 8px;
    width: 448px;
    padding: 40px 40px 40px 40px;
    margin: auto;
    margin-top: 80px;
}

@media screen and (max-width:600px){
    .outer{
        padding:0px;
        border: none;
        width: 100%;
        height: 100%;
        margin: auto;
    }
}

#pass{
    margin-bottom:20px;
    margin-top: 0px;
}   

.butn{
    margin-top: 10px;
}